
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.navbar {
    background-color: gray;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: "Secular One", sans-serif;
}
.navbar__title {
   text-shadow: 1px 1px blue,
                1px -1px blue,
               -1px 1px blue,
               -1px -1px blue;
}
.navbar__list {
    display: flex;   
    gap: 20px;
    color: dodgerblue;
}
